@import "../partials/variables";

.footer-section {
  width: 100%;
  display: flex;
  padding: 0%;
  min-height: 150px;
  height: auto;
  margin-top: 5%;
  color: white;
  background-color: $primary;
  position: relative;

  .footer-left {
    background-image: url("/src/assets/2-banner/banner-rounded-001.svg");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 25%;
    background-clip: content-box;
    width: 50%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .footer-right {
    background-repeat: no-repeat;
    background-size: 25%;
    background-clip: content-box;
    background-position: right;
    height: 150px;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("/src/assets/2-banner/banner-rounded-002.svg");
  }
}

.footer-logo {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
  img {
    margin: 0 10px;
  }
}

.footer-content {
  padding: 2% 10%;
  height: inherit;
  z-index: 5;
  display: flex;
  text-align: left;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  div {
    margin: 5px;
  }
  h5 {
    font-size: 16px;
  }

  label {
    color: #b5b5c1;
    font-size: 13px;
  }
}

.right-flex {
  justify-content: flex-end;
}

.left-flex {
  justify-content: flex-start;
}
